$theme-primary: #EDF2F4;
$theme-secondary: #313131;
$theme-destac: #6278F7; 

$color-complete: #A3E5BA;
$color-complete2: #EFFBE2;

$color-andament: #DCA3E5;
$color-andament2: #EDE2FB;

$color-create: #C3C3C3;
$color-create2: #F2F2F2;

$color-event: #F6E448;
$color-event2: #FAF4C1;